[submodule "wireguard/wireguard-go"]
	path = wireguard/wireguard-go
	url = https://github.com/WireGuard/wireguard-go
[submodule "wireguard/amneziawg-go"]
	path = wireguard/amneziawg-go
	url = https://github.com/amnezia-vpn/amneziawg-go
[submodule "wireguard/amneziawg-tools"]
	path = wireguard/amneziawg-tools
	url = https://github.com/amnezia-vpn/amneziawg-tools
[submodule "wireguard/wireguard-tools"]
	path = wireguard/wireguard-tools
	url = https://github.com/WireGuard/wireguard-tools
[submodule "wireguard/wireguard-windows"]
	path = wireguard/wireguard-windows
	url = https://github.com/WireGuard/wireguard-windows
