{
   debug
}

<domain_name> {
    @cloakPath {
        path /special-url
    }
    handle @cloakPath {
        reverse_proxy @cloakPath 127.0.0.1:8443
    }
    handle {
        root * /usr/share/caddy/index.html
        file_server
    }

}
