
0.0.0.0:443 {

    log {
        output stdout
    }

    @cloakPath {
        path /special-url
    }

    reverse_proxy @cloakPath 127.0.0.1:8443  # cloak-server's port
    
    handle {
        reverse_proxy https://www.google.com {
            header_up Host {upstream_hostport}  # Preserve Google's hostname.
        }
    }

   }

