
:443 {

    log {
        output stdout
    }

    @specialPath {
        path /special-url
    }

    reverse_proxy @specialPath 127.0.0.1:8443  # cloak-server's port

    handle {
        redir https://www.google.com
    }
}

